body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #303841;
}

#loading {
    display: block;
    background-image: url('../../irem.gif');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem;
}

.title {
    display: block;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #d79075;
    padding: 10px;
}

#tier-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
}

.tier {
    display: flex;
    flex-wrap: wrap;
    background-color: #b890dd;
    border: #d79075 5px solid;
    border-radius: 20px;
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    margin-right: 1rem;
}

input[type=text] {
    font-size: 2rem;
    font-weight: bold;
    margin-right: 1rem;
    background: none;
    border: none;
    color: #747476;
    max-width: 30px;
    cursor: text;
}

.tier:hover {
    background-color: #96bfc7;
    border: white 5px solid;
}

#character-pool {
    padding: 1rem;
    margin-top: 1rem;
    min-height: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.player-info {
    position: relative;
    display: flex;
    width: 100px;
    height: 100px;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    cursor: grab;
}

.player-elo {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 20px;
    z-index: 1;
}

.player {
    position: absolute;
    width: 36px;
    height: 36px;
    top: 25px;
    z-index: 2;
    border-radius: 20px;
}

.player-name {
    position: absolute;
    display: block;
    color: white;
    font-size: 15px;
}

#download {
    display: block;
    background-color: gray;
    border-radius: 10px;
    padding: 10px;
    color: white;
    margin: auto;
    margin-top: 25px;
    cursor: not-allowed;
}

#download:hover {
    background-color: #a63d5b;
}